[Unit]
Description=Reverse Image Search Webcrawler for Images
StartLimitIntervalSec=0

[Service]
# Type=simple
ExecStart=/usr/bin/php /var/www/html/public/index.php crawl imgUrl
User=vagrant
Restart=always
RestartSec=1

[Install]
WandetBy=multi-user.target
